/* some style */

body {
  padding : 0;
  margin : 0;
}


.button-spin-left-appear {
  -webkit-transform: rotate(90deg);
}

.button-spin-left-appear.button-spin-left-appear-active {
  transition: all .25s linear;
}

.button-spin-right-appear {
  -webkit-transform: rotate(-90deg);
}

.button-spin-right-appear.button-spin-right-appear-active {
  transition: all .25s linear;
}


.spash {
  position : fixed;
  width: 100%;
  height: 100%;
  background-color : rgb(244, 67, 54);
  background-image: url(../img/logo-app.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50%;
}
