/* some style */

body {
  padding : 0;
  margin : 0;
}


.button-spin-left-appear {
  -webkit-transform: rotate(90deg);
}

.button-spin-left-appear.button-spin-left-appear-active {
  transition: all .25s linear;
}

.button-spin-right-appear {
  -webkit-transform: rotate(-90deg);
}

.button-spin-right-appear.button-spin-right-appear-active {
  transition: all .25s linear;
}
